@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
    
    }
}

#root {
    min-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: max-content;
}

.header-wrap {
    position: relative;
    z-index: 10;
    -webkit-box-shadow: 0 3px 17px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 17px rgba(0,0,0,0.25);
    box-shadow: 0 3px 17px rgba(0,0,0,0.25);
}

.clearfix, .wrapper {
    zoom: 1;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 190px;
    margin-top: 70px;
    min-width: 1000px;
    overflow: auto;
}

.download-file a{
    color: #fff;
    text-decoration: none;
}

.banner, .arrow-container {
    width: 276px;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.banner {
    background-color: #f1f1f1;
}

.number_order {
    margin-top: 0;
    margin-bottom: 40px;
    word-wrap: break-word;
}

.info_field {
    width: 449px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification {
    width: 600px;
    color: red;
}

.o-btn-container {
    display: grid;
    grid-template-rows: [row1] max-content;
    grid-template-columns: [col1] max-content [col2] max-content [col3] max-content;
    margin-bottom: 5px;
}

.approve {
    grid-column-start: col3;
    grid-column-end: col3;
    grid-row-start: row1;
    grid-row-end: row1;
    justify-self: center;
}

.download-file {
    grid-column-start: col1;
    grid-column-end: col1;
    grid-row-start: row1;
    grid-row-end: row1;
    justify-self: center;
}

.amendments {
    grid-column-start: col2;
    grid-column-end: col2;
    grid-row-start: row1;
    grid-row-end: row1;
    justify-self: center;
}

.o-btn-success {
    background: rgb(30, 191, 97);
}

.o-btn-primary {
    background: rgb(0, 176, 241);
}

.o-btn-info-field {
    min-width: 128px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.2;
    font-size: 12px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;

    -webkit-box-shadow: 1px 1px 10px 0 rgba(1, 0, 0, 0.22);
    -moz-box-shadow: 1px 1px 10px 0 rgba(1, 0, 0, 0.22);
    box-shadow: 1px 1px 10px 0 rgba(1, 0, 0, 0.22);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.o-btn-info-field:after, .o-btn-info-field:before {
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
}

.o-btn-info-field:after {
    width: auto;
    height: auto;
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.08);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.maket-image {
    max-width: 100%;
    margin-bottom: 30px;
    cursor: zoom-in;
}

.splash-screen-image, .splash-screen-document {
    cursor: zoom-out;
}

.splash-screen {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background-color: rgba(34, 33, 33, 0.658);
}

.splash-screen-document-container {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background-color: rgba(34, 33, 33, 0.658);
}
.document-pdf {
    overflow: auto;
    max-height: 430px;
    cursor: zoom-in;
}

.document-pdf-page {
    margin-bottom: 10px;
}

.document-pdf-page:last-child {
    margin-bottom: 0;
}

.splash-screen-document {
    max-width: 1000px;
    overflow: auto;
}

.responsive-modal {
    width: 500px;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.modal-header-container {
    display: flex;
    justify-content: space-between;
}

.modal-header-btn-close {
    cursor: pointer;
}

.modal-main-container {
    flex-grow: 1;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-text-area {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.modal-footer-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.not_found_page, .load-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.load-spinner {
    flex-direction: column-reverse;
}

.request-call-input {
    -webkit-appearance: checkbox;
}

.request-call {
    margin-top: 20px;
}

.request-call input {
    margin-right: 10px;
}

.header-logo-container {
    display: flex;
    justify-content: center;
}

.text-align-center {
    text-align: center;
    color: rgb(80, 80, 80);
}

.thead-background {
    background: #f1f1f1;
    border: 2px #f1f1f1 solid;
}
.thead-background tr {
    height: 53px;
}

.arrow-container {
    margin: 0 0 0 30px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}

.arrow-container img {
    margin-top: 130px;
}

.modal-window-wishes {
    display: flex;
    padding: 56px 11px 73px 11px;
}

.text-field-container textarea{
    border: 5px #f1f1f1 solid;
    height: 308px;
    width: 100%;
    resize: none;
}

.file-fiel-container {
    background: #f1f1f1;
    height: 58px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.file-field-image {
    margin-left: 102px;
}

.fields-container {
    width: 659px;
}

.fields-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 291px;
}

.text-field-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-field-container-2 label {
    font-size: 15px;
}

.text-field-container {
    display: flex;
    justify-content: center;
}

.text-field-container label{
    text-align: center;
}

.button-field-container {
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.file-download-link, .file-download-link strong{
    cursor: pointer;
}

.file-download-link input{
    position: absolute;
    opacity: 0;
    width: 140px;
    cursor: pointer;
}
.file-download-link a {
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.fa-chevron-left {
    font-size: 40px;
    margin: 0 0 0 10px;
}

.fa-paperclip {
    margin-right: 10px;
    font-size: 30px;
}

.modal-approve-text {
    border: 5px #f1f1f1 solid;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-approve-text label {
    text-align: center;
}

.modal-approve-buttons {
    background: #f1f1f1;
    display: flex;
    align-items: center;
    height: 90px;
}

.header-heads {
    height: 192px;
    padding: 0;
}

.table-order {
    width: 100%;
}

.table-order tbody tr {
    height: 48px;
    border: 2px #f1f1f1 solid;
}

.modal-approve-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.approve-button {
    width: 173px;
    height: 50px;
}

.approve-button-yes {
    margin-left: 118px;
    margin-right: 77px;
}

.button-sent-comments {
    width: 130px;
}

.backet-image {
    margin-left: 15px;
}

.header-logo img {
    max-width: max-content;
}